.roleColor-rz2vM0 {
    color: #2eff77;
}

.username-2b1r56 {
    color: #4fff6a;
}

.modeSelected-346R90 .name-23GUGE {
    color: #009dff;
}

.cozy-3raOZG .timestamp-3ZCmNB {
    color: #008cff;
}

.wrapper-3WhCwL {
    color: #ff3737;
    background-color: rgb(0, 0, 0,.2);
}

.wrapper-3WhCwL:hover {
    color: #3badff;
    background-color: rgba(0, 0, 0,.2);
}

.headerNormal-T_seeN .customStatus-1bh2V9 {
    color: #3badff;
}

.activityText-yGKsKm {
    color: #3884ff;
}
